<div class="buttons">
    <ng-container *ngIf="(addressesWaiting|async) as __addressesWaiting">
    <ng-container *ngIf="__addressesWaiting && __addressesWaiting.length > 0">
        <button mat-raised-button (click)="processAddressesData()">Process addresses data ({{__addressesWaiting.length}})</button>
    </ng-container>
    </ng-container>
    <ng-container *ngIf="(yad2ApartmentsWaiting|async) as __yad2ApartmentsWaiting">
    <ng-container *ngIf="__yad2ApartmentsWaiting && __yad2ApartmentsWaiting.length > 0">
        <button mat-raised-button (click)="processYad2ApartmentsData()">Process yad2 apartments data ({{__yad2ApartmentsWaiting.length}})</button>
    </ng-container>
    </ng-container>
    <ng-container *ngIf="(yad2JsonsWaiting|async)?.length > 0">
        <button mat-raised-button (click)="processYad2JsonData()">Process yad2 json data</button>
    </ng-container>
    <button mat-raised-button (click)="openDialog()">get Yad2 JS code</button>
  <button mat-raised-button (click)="updateOnly=!updateOnly">update only mode</button>
</div>
<ng-container *ngIf="!updateOnly">
<ng-container *ngIf="(apartmentsWaiting|async) as __apartmentsWaiting">
<ng-container *ngIf="(doApartmentsFilter(__apartmentsWaiting,addressesById,maxWalkingMinutes,maxPrice,lastUpdateDays,search,handledBy)) as __apartmentsWaitingFiltered">
  <!--
  <div>
    <table>
      {{getStats(__apartmentsWaitingFiltered).length}}
    </table>
  </div>
  -->
<ng-container *ngIf="(__apartmentsWaitingFiltered|slice:0:200) as __apartmentsWaitingSliced">
    <div class="content">
        <div class="map">
            <agm-map [latitude]="32.044318" [longitude]="34.759277" [minZoom]="13">
                <ng-container *ngFor="let wework of weWorks">
                    <agm-marker iconUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRupy_19i-39YLxk6WCmGF3sL65FjVAC5msNoNKMvKAO4MoTjd0" [latitude]="wework.latitude" [longitude]="wework.longitude" [title]="wework.name" [label]="wework.name" [zIndex]="1000"></agm-marker>
                </ng-container>
                <ng-container *ngFor="let apartment of (__apartmentsWaitingSliced)">
                    <ng-container *ngIf="apartment.location && apartment.location.coordinates">
                        <ng-container *ngIf="addressesById[apartment.addressId] as address">
                            <agm-marker
                                    [zIndex]="apartment.general_id==focused_general_id?2000:0"
                                    [iconUrl]="apartment.general_id==focused_general_id?'https://cdn4.iconfinder.com/data/icons/momenticons-gloss-basic/momenticons-gloss-basic/32/pin-black.png':(apartment.incharge=='omri'?'https://www.gps-data-team.com/poi/icons/Maxol-UK.bmp':(apartment.incharge=='mati'?'https://static.xx.fbcdn.net/images/emoji.php/v9/f9b/1.5/16/1f4a7.png':null))"
                                    [title]="
                            Math.round(address.durationToWeWorkInSeconds/60) +
                            ' דקות' +
                            '\n' +
                             getFinalPrice(apartment)+apartment.currency"
                                        (markerClick)="setFocus(apartment.general_id)"
                                        [markerClickable]="true"
                                        [latitude]="apartment.location.coordinates.latitude"
                                        [longitude]="apartment.location.coordinates.longitude"></agm-marker>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </agm-map>
        </div>
        <div class="apartments">
            <div class="summary">
                <div>
                    מראה
                    {{__apartmentsWaitingSliced.length}}
                    דירות (מתוך
                    {{__apartmentsWaiting.length}}
                    סה"כ ו
                    {{__apartmentsWaitingFiltered.length}}
                    אחרי סינון
                    )
                </div>
                <div>
                    <span>
                        מרחק בדקות
                    </span>
                    <span>
                    <mat-slider min="1" max="50" [value]="maxWalkingMinutes" (change)="maxWalkingMinutes=$event.value"></mat-slider>
                    </span>
                    <span>
                    {{maxWalkingMinutes}}
                    </span>
                    <span>
                        מחיר מקסימלי
                    </span>
                    <span>
                    <mat-slider min="1" max="50" [value]="maxPrice" (change)="maxPrice=$event.value"></mat-slider>
                    </span>
                    <span>
                    {{maxPrice}}
                    </span>
                  <span>
                    עדכון אחרון
                    </span>
                  <span>
                    <mat-slider min="1" max="100" [value]="lastUpdateDays" (change)="lastUpdateDays=$event.value"></mat-slider>
                    </span>
                  <span>
                    {{lastUpdateDays}}
                    </span>
                    <mat-form-field>
                      <mat-label>בטיפול של</mat-label>
                      <mat-select [(value)]="handledBy">
                        <mat-option>None</mat-option>
                        <mat-option value="">כל הדירות</mat-option>
                        <mat-option value="onlyMati">רק מתי</mat-option>
                        <mat-option value="onlyOmri">רק עומרי</mat-option>
                        <mat-option value="notOmri">לא בטיפול עומרי</mat-option>
                        <mat-option value="notMati">לא בטיפול מתי</mat-option>
                        <mat-option value="notAnyone">לא בטיפול אף אחד</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <span>
                        חיפוש חופשי
                    </span>
                    <input matInput [(ngModel)]="search">
                </div>
            </div>
            <ng-container *ngFor="let apartment of (__apartmentsWaitingSliced)">
                <div class="apartment" [attr.general_id]="apartment.general_id" (click)="setFocus(apartment.general_id)">
                  <div>
                <span class="title">
                    מזהה
                </span>
                    <span>
                    {{apartment.easy_id}}
                    </span>
                  </div>
                    <div>
                <span class="title">
                    כתובת
                </span>
                        <span>
                    {{apartment.street}}
                            {{isNaN(apartment.home_number)?"":apartment.home_number}}
                </span>
                    </div>
                    <div>
                <span class="title">
                    כתובת
                </span>
                        <span>
                  {{apartment.neighborhood}}
                </span>
                    </div>
                    <div>
                <span class="title">
                    קומה
                </span>
                        <span>
                    {{apartment.floor}}
                </span>
                        <span class="title">
                    חדרים
                </span>
                        <span>
                    {{apartment.rooms}}
                </span>
                        <span class="title">
                    מ"ר
                </span>
                        <span>
                    {{apartment.square_meters}}
                </span>
                    </div>
                    <div>
                <span class="title">
                    מחיר
                </span>
                        <span>
                    {{apartment.price}}{{apartment.currency}}
                            <ng-container *ngIf="apartment.merchant">
                                (
                                {{getFinalPrice(apartment)}}{{apartment.currency}}
                                לאחר עמלת תיווך
                                )
                            </ng-container>
                </span>
                    </div>
                    <div *ngIf="apartment.merchant">
                <span class="title">
                    תיווך
                </span>
                    </div>
                    <div>
                        <a target=_blank [href]="apartment.link">
                            קישור למודעה
                        </a>
                        <ng-container *ngIf="apartment.location && apartment.location.coordinates">
                            <a target=_blank [href]="'https://www.google.com/maps/place/'+apartment.location.coordinates.latitude+','+apartment.location.coordinates.longitude">
                                קישור למפה
                            </a>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="addressesById[apartment.addressId] as address">
                        <div>
                <span class="title">
                    מרחק ברגל
                </span>
                            <span>
                    {{address.distanceToWeworkInMeters}}
                                מטר
                </span>
                            <span class="title">
                    זמן ברגל
                </span>
                            <span>
                                {{Math.round(address.durationToWeWorkInSeconds/60)}}
                                דקות
                </span>
                        </div>
                    </ng-container>
                  <div>
                            <span class="title">
                    עדכון אחרון
                </span>
                    <span>
                                {{dateFormat(apartment.update_date)}}
                </span>
                  </div>
                    <div>
                <span class="title">
                    בטיפול של
                </span>
                        <mat-select #me1 [value]="apartment.incharge" (selectionChange)="updateApartment(apartment,me1.value)">
                            <mat-option>ביחרו</mat-option>
                            <mat-option value="mati">מתי</mat-option>
                            <mat-option value="omri">עומרי</mat-option>
                        </mat-select>
                        <span>
                </span>
                    </div>
                    <div>
                <span class="title">
                    הערות
                </span>
                        <span>
                        <textarea #me2 (change)="updateApartment(apartment,undefined,me2.value)">{{apartment.notes}}</textarea>
                </span>
                    </div>
                </div>


                <!--
                    {{apartment|json}}
                    contact_name:string,
                    location:any,
                    images:Array<string>,
                    -->

            </ng-container>
        </div>
    </div>
</ng-container>
</ng-container>
</ng-container>
</ng-container>
